@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Poppins:wght@300&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}

body {
    background: #272727;
}

.title {
    color: #fff;
}

.img {
    display: flex;
    flex-direction: row;
}

.img_left,
.img_center,
.img_right {
    flex: 33%;
}

.head_img {
    width: 130px;
    border-radius: 50%;
    margin: 2.5rem 0 0;
}

.list_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list1 {
    width: 100%;
    background-color: #f0db4f;
    color: #000;
    margin: 0.3rem 0;
    border-radius: 13px;
    transition: .2s;
    text-decoration: none;
}

.list2,
.list3,
.list4,
.list5 {
    width: 100%;
    border: 2px solid #f0db4f;
    color: #f0db4f;
    margin: 0.3rem 0;
    border-radius: 13px;
    transition: .2s;
    text-decoration: none;
}

.list1:hover,
.list2:hover,
.list3:hover,
.list4:hover,
.list5:hover {
    /* transform: translateX(5px); */
    transform: translateY(5px);
    background-color: #f0db4f;
    color: #000;
}

.icon {
    display: flex;
    flex-direction: row;
    margin: 2rem;
    color: #f0db4f;
}

.icon_item {
    flex: 20%;
    font-size: 25px;
    color: #f0db4f;
    text-decoration: none;
}

@media only screen and (min-width: 567px) {
    .container {
        margin: 0 10rem;
    }
}